h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: rgb(38, 38, 49);
}

section{
    background-color: rgb(117, 106, 101);
}

p{
    font-family: monospace;
}